@import "bootstrap/dist/css/bootstrap.min.css";

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(216, 133, 133);
}

#web div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 800px;
    padding: 5px;
    margin: 2px;
    background: #b04646aa;
    border-radius: 3px;
}